body {
    margin: 0;
    padding: 0;
    background-image: url(../imagenes/backgroundimg.jpeg);
    font-family: 'Cabin Condensed', sans-serif;
}
header {
    background-image: url(../imagenes/header.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px ;
    
}
.nombrepagina{
    text-align: center;
    font-weight: bold;
    font-family: 'Cabin Condensed', sans-serif;
    font-size:70px;

}

.header div img {
    display: block;
    margin-left: 45%;
    max-width: 10%;
    height:max-content;
}


.formh {
   
    float: right; 
    margin-right: 10px;
    
}

.nav{
   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:black ;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

   

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0%;
    text-align: center;
   
}

nav ul li {
    padding: 10px; 
    text-align: center;
    margin: 0 30px 0 30px;
}
.nav a {
    color: orange;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


ul article {
    text-align: center;
    margin: 20px;
    
}

.peliculadetallada {
	min-height: 700px;
	color: #fff;
	background-size:cover;
	background-position: fixed;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.contenedor {
	margin: 0 auto;
	margin-bottom: 100px;
}

h1{
	font-weight: 600;
	font-size:700%;
	margin-bottom: 150px
}
.agregarafavoritos{
    background-color: red;
    color: black; 
    font-size: 20px; 
    padding: 15px 20px; 
    cursor: pointer; 
    display: flex;
    justify-content: flex-start;
    align-items:normal;
    margin-left: 100px;
    margin-bottom: 20px;

}

footer {
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px 0; 
    color: #fff; 
}
h2 {
    color: black;
    background-color: orange;
    text-align: center;
    font-size: 35px;
    margin-left: 290px ;
    margin-right: 290px;
    font-family: 'Cabin Condensed', sans-serif;
    border-radius: 30px;

}
@media (max-width: 420px) {
    header {

        background-image: url(../imagenes/header.jpeg);
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 0 ;
        
    }
    .nav{
        position: static;
        margin-bottom: 10px;
    }
    .nombrepagina {
        font-size: 40px; 
    }
    .header div img {
        margin-left: 37%; 
        max-width: 35%; 

    }
    .formh {
        float: none; 
        margin-right: 0;
        margin-top: 10px; 
    }
    .nav ul {
        flex-direction: row; 
        align-items: center; 
    }
    .nav ul li {
        margin: 10px 0; 
    }
    .h2h {
        font-size: 24px; 
        margin: 20px 0; 
    }
    ul article {
        margin: 20px 0; 
    }
    img {
        width: 100%; 
        height: auto; 
    }

    .movie-list{
    display: flex;
    flex-direction: column;
    align-items: center;

    }
    .series-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

}
