
body {
    margin: 0;
    padding: 0;
    background-image: url(../imagenes/backgroundimg.jpeg);
}


header {
    background-image: url(../imagenes/header.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px ;
}
.nombrepagina{
    text-align: center;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:70px;

}

.header div img {
    display: block;
    margin-left: 45%;
    max-width: 100%;
    height: auto;
}


header form {
   
    top: 20px;
    right: 20px;

}


nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0%;
    margin-left: 50%;
    text-align: center;

}

nav ul li {
    background-color: rgb(255, 17, 0); 
    color: white; 
    padding: 10px; 
    border: 2px solid black; 
    border-radius: 5px;
    justify-content: space-between ;
    text-align: center;
}


h2 {
    text-align: center;
    background-color: orange; 
    color: black; 
    padding: 10px; 
    margin: 40px; 
    border: solid 3px;
}


ul article {
    text-align: center;
    margin: 20px;
    
}

footer {
    background-image: url('ruta-de-tu-imagen.jpg'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px 0; 
    color: #fff; 
}
img {
    width: 200px;
    height: 300px;
}
.movie-item {
    color: white;
    flex-direction: row;
    display: inline-block;
    margin-right: 20px; 
    vertical-align: top; 
    width: 230px; 
    text-align: center; 

}
.series-item {
    color: white;
    display: inline-block;
    margin-right: 20px; 
    vertical-align: top; 
    width: 230px; 
    text-align: center; 
}
.titulos{
    background-color: orange; 
    color: black;
    padding: 10px; 
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
}



.imgpelicula{
    display: flex;
    align-items: center;
}








